<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-cache">
<style>
*{
  margin: 0px;
  padding: 0px;
}
body{
  font-size: large;
  background-color:#ddf;
}
h1{
  margin-bottom: 0.1em;
}
.date{
  background-color: black;
  color: white;
  padding:0.5em;
}
.minTemp{
  color: #aaf;
  font-weight: bold;
}
.maxTemp{
  color: red;
  font-weight: bold;
}
.weather{
  margin-left:1em;
  border: solid;
}

.day-sched{
  display:flex;
}
.day-sched .time{
  flex: 0 0 140px;
}
.day-sched .desc{
}
.cover{
  position:absolute;
  top:6px;
  right:6px;
  width:600px;
  height: auto;
  border: solid 3px white;
  border-radius: 50px;
}
.top{
  position: absolute;
  top: 0px;
  right: 0px;
}
.top div{
  background-color: white;
}

</style>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="out/weather.js"></script>
<script src="out/schedule.js"></script>
<script src="out/birthdate.js"></script>
<script src="out/photo.js?20220102"></script>
<script src="out/disk.js"></script>
</head>
<body>
	<h1>WEB SIGNAGE</h1>
	<div id="app">
		<div v-for="day in schedule">
			<div class="date">{{ day.date }} <span class="minTemp">{{day.minTemp}}</span>/<span class="maxTemp">{{day.maxTemp}}</span><span class="weather">{{day.weather}}</span></div>
			<div v-for="item in day.items">
				<div class="day-sched">
					<div class="time" v-bind:style="{backgroundColor: item.labelColor}">
						<span v-if="!item.attributes.all_day">
							{{ ("0" + item.attributes.start.getHours()).slice(-2) + ":" + ("0" + item.attributes.start.getMinutes()).slice(-2) }} - {{ ("0" + item.attributes.end.getHours()).slice(-2) + ":" + ("0" + item.attributes.end.getMinutes()).slice(-2) }}
						</span>
					</div>
					<div class="desc">{{ item.attributes.title }}</div>
				</div>
			</div>
		</div>
		<img class="cover" v-bind:src="photo" />
		<div class="top">
			<div>{{disk}}, {{dateStr}}</div>
		</div>
		<div>{{test}}</div>
	</div>
	<script>
function hoge(){return "in hoge"}

weatherObj = {};
tokyo = weather[8]

// the day after tomorrow
ds = tokyo["week"]["timeSeries"][1]["timeDefines"]
ds.forEach((ds, i) => {
  let d = new Date(ds)
  let o = {
    minTemp: tokyo["week"]["timeSeries"][1]["areas"]["tempsMin"][i],
    maxTemp: tokyo["week"]["timeSeries"][1]["areas"]["tempsMax"][i],
  }
  weatherObj[(d.getMonth()+1) + "/" + d.getDate()] = o
})

// tomorrow
ds = tokyo["srf"]["timeSeries"][2]["timeDefines"]
let d = new Date(ds[0])
let o = {
  minTemp: tokyo["srf"]["timeSeries"][2]["areas"]["temps"][0],
  maxTemp: tokyo["srf"]["timeSeries"][2]["areas"]["temps"][1], 
}
weatherObj[(d.getMonth()+1) + "/" + d.getDate()] = o

// wether overview
ds = tokyo["srf"]["timeSeries"][0]["timeDefines"]
ds.forEach((ds, i) => {
  console.log(ds)
  let d = new Date(ds)
  if(!weatherObj[(d.getMonth()+1) + "/" + d.getDate()]){
    weatherObj[(d.getMonth()+1) + "/" + d.getDate()] = {}
  }
  weatherObj[(d.getMonth()+1) + "/" + d.getDate()].weather = tokyo["srf"]["timeSeries"][0]["areas"]["weathers"][i]
})

schedule.forEach((d) => {
  let ddate = new Date(d.date);
  d.date = (ddate.getMonth() + 1) + "/" + ddate.getDate() + " " + ["日", "月", "火", "水", "木", "金", "土"][ddate.getDay()];
  let wo = weatherObj[(ddate.getMonth()+1) + "/" + (ddate.getDate())]
  if(wo){
    d.maxTemp = wo.maxTemp
    d.minTemp = wo.minTemp
    d.weather = wo.weather
  }
  d.items.forEach((i) => {
    i.attributes.start = new Date(i.attributes.start_at);
    i.attributes.end = new Date(i.attributes.end_at);
  })
});
function diffMonth(d){
  let targetObj = new Date(birthDate);
  let dm = d.getFullYear() * 12 + d.getMonth();
  let target = targetObj.getFullYear() * 12 + targetObj.getMonth();

  let r = dm - target;
  return Math.floor(r/12) + "歳" + r%12 + "ヵ月"
}
let r = Math.floor(Math.random() * photoList.length)
let photo = photoList[r].name.replace("/media/mystorage", "/webdav");
let dateObj = new Date(photoList[r].date)
let dateStr = dateObj.getFullYear() + "/" + (dateObj.getMonth()+1) + " " + diffMonth(dateObj)
var app = new Vue({
  el: "#app",
  data: {
    schedule: schedule,
    photo: photo,
    test: photo,
    dateStr: dateStr,
    disk: disk.file,
  },
  methods:{}
});

setTimeout(() =>{
  let r = Math.floor(Math.random() * photoList.length)
  let nextPhoto = photoList[r].name.replace("/media/mystorage", "/webdav");
  let dateObj = new Date(photoList[r].date)
  let dateStr = dateObj.getFullYear() + "/" + (dateObj.getMonth()+1) + " " + diffMonth(dateObj)

  app.$data.photo = nextPhoto;
  app.$data.test = nextPhoto;
  app.$data.dateStr = dateStr;
}, 15 * 60 * 1000); // 15min
setTimeout(() =>{
  document.location.reload();
}, 60 * 60 * 1000); // 1h
</script>
</body>
</html>
